{% extends 'base.html' %}

{% block title %}Modifier le profil - Marketplace{% endblock %}

{% block content %}
<h1>Modifier le profil</h1>

<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <div class="form-group">
        {{ user_form.first_name.label_tag }}
        {{ user_form.first_name }}
    </div>
    <div class="form-group">
        {{ user_form.last_name.label_tag }}
        {{ user_form.last_name }}
    </div>
    <div class="form-group">
        {{ user_form.email.label_tag }}
        {{ user_form.email }}
    </div>
    <div class="form-group">
        {{ profile_form.phone.label_tag }}
        {{ profile_form.phone }}
    </div>
    <div class="form-group">
        {{ profile_form.city.label_tag }}
        {{ profile_form.city }}
    </div>
    <div class="form-group">
        {{ profile_form.photo.label_tag }}
        {{ profile_form.photo }}
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="{% url 'profile' %}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}
